.code-block-container {

    min-height: 100vh;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .code-block-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .code-editor{
    background-color: #2d2d2d;
    border: none;

  }

  .code-editor-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }


.code-block-container .row {
  flex: 1; 
  width: 100%;
}

.role-permissions {
  text-align: left;
  margin: 10px;
}
  